<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5> Comenzar un nuevo mes</h5>
                </div>
                <div class="card-body tab2-card">
                    <div class="row justify-content-center">
                        <div class="col-3 text-center">
                            <button type="button" class="btn btn-primary"
                                    (click)="guardar()">INICIAR MES
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->